<form #form="ngForm" (ngSubmit)="createBook(form.value)">
  <label for="isbn">isbn</label>
  <input type="text" class="form-control" id="isbn" required [(ngModel)]="book.isbn" name="isbn" #isbn="ngModel">
  <div [hidden]="isbn.valid || isbn.pristine" class="alert alert-danger">
    isbn is required
  </div>

  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" required [(ngModel)]="book.title" name="title" #title="ngModel">
  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
    Title is required
  </div>

  <label for="subtitle">Sub Title</label>
  <input type="text" class="form-control" id="subtitle" required [(ngModel)]="book.subtitle" name="subtitle" #subtitle="ngModel">
  <div [hidden]="subtitle.valid || subtitle.pristine" class="alert alert-danger">
    Subtitle is required
  </div>

  <label for="Abstract">Abstract</label>
  <input type="text" class="form-control" id="abstract" required [(ngModel)]="book.abstract" name="abstract" #abstract="ngModel">
  <div [hidden]="abstract.valid || abstract.pristine" class="alert alert-danger">
    abstract is required
  </div>

  <label for="author">Sub Title</label>
  <input type="text" class="form-control" id="author" required [(ngModel)]="book.author" name="author" #author="ngModel">
  <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
    author is required
  </div>

  <label for="publishername">Publisher Name</label>
  <input type="text" class="form-control" id="publishername" required [(ngModel)]="book.publisher.name" #publishername="ngModel"
    name="publishername">
  <div [hidden]="publishername.valid || publishername.pristine" class="alert alert-danger">
    publisher.name is required
  </div>

  <label for="publishername">Publisher Url</label>
  <input type="text" class="form-control" id="publishername" required [(ngModel)]="book.publisher.url" #publisherurl="ngModel"
    name="publisherurl">
  <div [hidden]="publisherurl.valid || publisherurl.pristine" class="alert alert-danger">
    publisher.name is required
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!form.valid">Save</button>
</form>
