<h3>Books</h3>

<div *ngFor="let book of books">
  <div>
    <!-- <a [href]="book.publisher.url">{{book.title}}</a> -->
    <!-- <a [routerLink]="['/books', book.isbn]">{{ book.title + ' ' + book.isbn }}</a> -->
    <a [routerLink]="[book.isbn]">{{ book.title + ' ' + book.isbn }} !!</a>
  </div>
</div>
<a (click)="showJson()" class="btn btn-default">
  <span class="glyphicon glyphicon-list-alt "></span> Show Json</a>
<a routerLink="new" class="btn btn-default">
  <span class="glyphicon glyphicon-plus"></span> New Book</a>
<div *ngIf="outputFormat==1 ">
  <div *ngFor="let book of books ">
    <p>{{book | json}}</p>
  </div>
</div>
