<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-heading">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">
          Monkey Books </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="/books">BOOKS</a>
          </li>
          <li>
            <a routerLink="/sandbox">SANDBOX</a>
          </li>
          <li>
            <a href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div>
  <div class="jumbotron text-center">
    <h1>{{ title }}!</h1>

    <img src="http://loremflickr.com/150/100?random=2" />

  </div>
  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <router-outlet></router-outlet>
        <br>
        <a href="javascript:void(0)" (click)="goBack()">
          <-Back </a>
      </div>
    </div>
  </div>
  <!-- <app-info-box></app-info-box>
  <app-title-box (titleClick)="displayEmit($event)" [title]="titleVar"></app-title-box>
  <app-book-list></app-book-list> -->
</div>

<hr>
